body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
table tr td
	border-bottom : 1px solid #CCC
table
	border:1px solid #ccc
.choices
	btn
		display:block
.hide
	display:none